header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  padding: 0 1.5rem;
}

header h1 {
  line-height: 80px;
}

section.sidebar {
  position: absolute;
  top: 80px;
  left: 0;
  width: 25%;
  background-color: #eaeaea;
  /*calculate height, subtract height of header*/
  height: -webkit-calc(100% - (80px));
  height: -moz-calc(100% - (80px));
  height: calc(100% - (80px));
  padding: 1.5rem;
  border-right: 1px solid #c4c4c4;
}

section.sidebar ul {
  padding-left: 0;
}

section.sidebar ul li {
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
  line-height: 1.5rem;
  color: #777;
}

section.sidebar ul li:hover {
  cursor: pointer;
}

section.sidebar ul li.selected {
  color: #007aed;
}

section.messages {
  position: absolute;
  top: 80px;
  right: 0;
  width: 75%;
  /*calculate height, subtract height of header and text-box*/
  height: -webkit-calc(100% - (80px + 200px));
  height: -moz-calc(100% - (80px + 200px));
  height: calc(100% - (80px + 200px));
}

section.messages ul {
  padding: 1.5rem;
}

section.messages ul li {
  font-family: "Arial", sans-serif;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 500;
}

section.text-box {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 75%;
  padding: 0;
}

textarea.entry-field {
  width: 100%;
  height: 100%;
  border: 0px;
  border-top: 1px solid #c4c4c4;
  padding: 0.5rem;
  padding-right: 8rem;
}

textarea.entry-field:focus {
  outline: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal .popup {
  position: absolute;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  transform: translate(-200px, -100px);
  z-index: 100;
  background-color: #f9f9f9;
}

.modal .popup h4 {
  color: #777;
}

.modal .popup input {
  width: 100%;
  height: 2rem;
  border: 1px solid #c4c4c4;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

.modal .popup button {
  margin-right: 0.25rem;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 3px;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #777;
  color: #f9f9f9;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

button.light-button {
  background-color: #f9f9f9;
  color: #777;
}

button#login {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

button#add-room {
  position: absolute;
  bottom: 1.5rem;
}

button#send {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

@media (max-width: 640px) {
  section.sidebar {
    visibility: hidden;
  }
  
  section.text-box {
    width: 100%;
    height: 100px;
  }
  
  section.messages {
    width: 100%;
    /*calculate height, subtract height of header and text-box*/
    height: -webkit-calc(100% - (80px + 100px));
    height: -moz-calc(100% - (80px + 100px));
    height: calc(100% - (80px + 100px));
  }
  
  button#send {
    width: 100%;
    border-radius: 0;
    bottom: 0;
    right: 0;
  }
}