<header>
  <h1>{{title}}</h1>
  <button *ngIf="!(af.auth | async)" id="login" (click)="login()">LOGIN</button>
  <button *ngIf="af.auth | async" id="login" (click)="logout()">LOGOUT</button>
</header>

<div *ngIf="af.auth | async">
  <section class="sidebar" (click)="toggleMenu()">
    <h3>Chat Rooms</h3>

    <ul>
      <li class="text" *ngFor="let room of rooms | async" (click)="setCurrentRoom($event, room.$key)">
        {{room.$value | uppercase}}
      </li>
    </ul>

    <button class="light-button" id="add-room" (click)="modal = true">+ ADD ROOM</button>
  </section>

  <section class="messages">
    <ul *ngIf="currentRoomId !== ''">
      <li class="text" *ngFor="let message of messages | async">
        <template [ngIf]="currentRoomId === message.roomId">
          <pre><span [ngClass]="{'username-me': message.username === this.username, 'username-you': message.username !== this.username}">{{message.username}}:</span> ({{message.sentAt | date:"HH:mm"}}) {{message.content}}</pre>
        </template>
      </li>
    </ul>
  </section>

  <section class="text-box">
    <textarea class="entry-field" type="text" placeholder="Type here..." [(ngModel)]="currentMessage" (keydown)="onKeySend($event)"></textarea>
    <button id="send" (click)="sendMessage()">SEND</button>
  </section>
</div>

<div *ngIf="modal" class="modal">
  <div class="popup">
    <h3>Create new room</h3>
    <h4>Enter new room name</h4>
    <input type="text" [(ngModel)]="roomName" (keypress)="onKeySubmit($event)" autofocus>
    <button (click)="modal = false">CANCEL</button>
    <button (click)="addRoom()">SUBMIT</button>
  </div>
</div>