<header>
  <h1>{{title}}</h1>
  <div> {{ (af.auth | async)?.uid }} </div>
  <button *ngIf="!(af.auth | async)" id="login" (click)="login()">LOGIN</button>
  <button *ngIf="af.auth | async" id="login" (click)="logout()">LOGOUT</button>
</header>

<section class="sidebar">
  <h3>Chat Rooms</h3>

  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </li>
  </ul>

  <button class="light-button" id="add-room">+ ADD ROOM</button>
</section>

<section class="messages">
</section>

<section class="text-box">
  <textarea class="entry-field" type="text" placeholder="Type here..."></textarea>
  <button id="send">SEND</button>
</section>